<!--customer_levels.hbs-->
<h1>Customer Levels</h1>
<body>    
    [ <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/orders">Orders</a> | <a href="/films">Films</a> | <a href="/orders_films">Orders_Films</a> | <a href="/customer_levels">Customer Levels</a> ]
</body>
<div id="browse" style="display: block">
    {{!-- Create Customer Levels table--}}
    <h3>Browse Customer Levels</h3>
    <table id="customer_levels-table" border="1" cellpadding="5">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.[Level Name]}}</td>
                <td>{{this.Description}}</td>
                <td>{{this.[Discount Percent]}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table> 
</div>
<p>&nbsp;</p>   
<div id="insert" style="display: block">
    <form id="addCustomerLevel">
        <legend>
            <strong>Add Customer Level</strong>
        </legend>
        <fieldset class="fields">
            <label>Level Name</label>
            <input type="text" name="name">
            <label>Level Description</label>
            <input type="text" name="description">
            <label>Discount Percent</label>
            <input type="number" name="discount">  
        </fieldset>
        <input class="btn" type="submit" id="addCustomerLevel" value="Add Customer Level">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>