<!--films.hbs-->
<h1>Films</h1>
<body>
    [ <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/orders">Orders</a> | <a href="/films">Films</a> | <a href="/orders_films">Orders_Films</a> | <a href="/customer_levels">Customer Levels</a> ]
</body>
<div id="insert" style="display: block">
    {{!-- Create a table --}}
    <h3>Browse Films</h3>
    <table id="film-table" border="1" cellpadding="5">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Film}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.[In Stock]}}</td>
                <td><button onclick="deleteFilm({{this.film_id}})">Delete</button></td>
            </tr>
            {{/each}}          
        </tbody>
    </table> 
</div>
<p>&nbsp;</p>   
<div id="insert" style="display: block">
    <form id="addFilm">
        <legend>
            <strong>Add Film</strong>
        </legend>
        <fieldset class="fields">
            <label>Film Name</label>
            <input type="text" name="name">
            <label>Price</label>
            <input type="text" name="price">
            <label>Number in Stock</label>
            <input type="number" name="stock">  
        </fieldset>
        <input class="btn" type="submit" id="addFilm" value="Add Film">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>
<p>&nbsp;</p> 
<div id="update" style="display: block">
    <form id="updateFilm">
        <legend>
            <strong>Update Film</strong>
        </legend>
        <fieldset class="fields">
            <label>Film Name</label>
            <input type="text" name="name">
            <label>Price</label>
            <input type="text" name="price">
            <label>Number in Stock</label>
            <input type="number" name="stock">
        </fieldset>
        <input class="btn" type="submit" id="updateFilm" value="Update Film">
        <input class="btn" type="button" value="Cancel">
    </form>
    {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
    <script src="./js/add_film.js"></script>
</div>