<!--orders.hbs-->
<h1>Orders</h1>
<body>
    [ <a href="/">Home</a> | <a href="/customers">Customers</a> | <a href="/employees">Employees</a> | <a href="/orders">Orders</a> | <a href="/films">Films</a> | <a href="/orders_films">Orders_Films</a> | <a href="/customer_levels">Customer Levels</a> ]
</body>
<div id="insert" style="display: block">
    {{!-- Create a table --}}
    <h3>Browse Orders</h3>
    <table id="order-table" border="1" cellpadding="5">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{this.ID}}</td>
                <td>{{this.Date}}</td>
                {{!-- date.toLocaleDateString("en-US",{timeZone: 'UTC'}).slice(0,10) --}}
                <td>{{this.[Total Price]}}</td>
                <td>{{this.Employee}}</td>
                <td>{{this.Customer}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table> 
</div>
<p>&nbsp;</p>   
<div id="insert" style="display: block">
    <form id="createOrder">
        <legend>
            <strong>Create Order</strong>
        </legend>
        <fieldset class="fields">
            <label>Order Date</label>
            <input type="date" name="date">
            <label>Total Price</label>
            <input type="text" name="price">
            <label>Employee Name</label>
            <input type="text" name="employee">  
            <label>Customer Name</label>
            <input type="text" name="customer">
            <label>Film Name</label>
            <input type="text" name="film">
        </fieldset>
        <input class="btn" type="submit" id="createOrder" value="Create Order">
        <input class="btn" type="button" value="Cancel">
    </form>
</div>